:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: linear-gradient(0,#fd56a4e5,#FF9966);

    --header-height: 110px;
    --navbar-height: 60px;
    --menu-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* = 10px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: helveticaNeue,helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__header {
    max-width: 100%;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
}

.column {

}


.column-4 {
    width: 25%;
}

.column-5 {
    width: 20%;
}