
/* Begin: header */
.header{
    height: var(--header-height);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    flex: 3;
}

.header.header-sticky .header__navbar-list.flex-right {
    position: fixed;
    z-index: 10000;
    right: 0;
    left: auto;
    top: 0;
    width: 172px;
    height: var(--menu-height);
    margin: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    position: relative;
    margin: 0 16px;
    padding: 0 8px;
    text-align: center;
    min-width: 31.75px;
}

.header__navbar-item--has-notify:hover .header__notify-wrap {
    display: block;
}

.header__navbar-item,
 .header__navbar-item .item-link{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--text-color);
    text-decoration: none;
}

.header__navbar-item-search {
    position: relative;
}

/* Form mini search */
.form-mini-search {
    position: absolute;
    z-index: 9999;
    right: 8px;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: content-box;
    background: #fff;
    transition: width .4s cubic-bezier(.17,.84,.44,1);
    display: flex;
}

.form-mini-search.active {
    margin: 0 -24px;
    top: -15px;
    width: 395px;
    height: var(--navbar-height);
}

.header.header-sticky .form-mini-search.active {
    top: -30px;
}

.form-mini-search.active::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    transition: visibility 0s, opacity 0.6s cubic-bezier(.17, .84, .44, 1);
    cursor: default;
}

.search-button-wrap {
    width: 100%;
}

.form-mini-search.active .search-button-wrap {
    width: 60px;
    height: 100%;
    display: inline-block;
}

.search-button {
    border: none;
    background: #fff;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-mini-search.active .search-button {
    width: 100%;
    position: relative;
}

.search-input-wrap {
    display: none;
}

.form-mini-search.active .search-input-wrap {
    display: block;
    flex: 1;
}

.form-mini-search.active .search-input-wrap input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 0 0 12px;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    background: #fff;
}

.close-button-wrap {
    display: none;
}

.form-mini-search.active .close-button-wrap {
    display: block;
    width: 60px;
    height: 100%;
}

.form-mini-search.active .close-button-wrap i {
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
    position: relative;
    background: #fff;
}
/* End: Form mini search */

.header__navbar-item:hover,
.header__navbar-item:hover i,
.header__navbar-item .item-link:hover {
    color: rgba(51, 51, 51, 0.7);
    cursor: pointer;
 }

 .header .header__logo {
    margin: 0;
    flex: 3;
    text-align: center;
}

.header.header-sticky .header__logo {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 18px;
    right: auto;
    width: 172px;
    height: var(--menu-height);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header__logo a {
    text-decoration: none;
    margin: 0;
    padding: 16px;
    color: #FF9966;
    font-size: 2.6rem;
    font-weight: 800;
}

.header.header-sticky .header__logo a {
    padding: 0;
    color: var(--text-color);
}

 /* Header notification  */
 .header__notify-wrap {
    position: absolute;
     z-index: 3;
     width: 406px;
     top: calc(100% + 4px);
     right: -20px;
     background-color: #fff;
     /* border: 1px solid rgba(0, 0, 0, 0.1); */
     box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
     border-radius: 3px;
     transform-origin: calc(100% - 32px) top;
     animation: headerNotifyGrowth ease-in 0.25s;
     -webkit-animation: headerNotifyGrowth ease-in 0.25s;
    -o-animation: headerNotifyGrowth ease-in 0.25s;
    -moz-animation: headerNotifyGrowth ease-in 0.25s;
     cursor: default;
     will-change: opacity, transform;
     display: none;
 }

 .header__notify {
    background: var(--main-color);
 }

 @keyframes headerNotifyGrowth {
     from {
         opacity: 0;
         transform: scale(0);
     }
     to {
         opacity: 1;
         transform: scale(1);
     }
 }

 .header__notify-wrap::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 18px;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent #FF9966 transparent;
}

 .header__notify-header {
     margin-left: 10px;
     height: 40px;
 }

 .header__notify-header::before {
    content: "";
    position: absolute;
    width: 94px;
    height: 16px;
    top: -16px;
    right: 0px;
    background-color: transparent;
 }

 .header__notify-header h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    user-select: none;
    cursor: default;
 }

 .header__notify-list {
     padding: 0;
     list-style: none;
     /* background-color: var(--white-color); */
 }

 .header__notify-item {
    background: rgba(238, 77, 45,0.08);
 }
 
 .header__notify-item:hover {
     background-color: #f0f0f0;
 }

 .header__notify-item:hover .notify-item-description {
    color: #999;
 }

 .header__notify-item--viewed {
    background: var(--white-color);
}

.header__notify-item--viewed .notify-item-description {
     color: #999;
 }

 .header__notify-link {
     display: flex;
     width: 100%;
     text-decoration: none;
     padding: 10px;
 }

 .notify-item__img {
     width: 48px;
     height: 48px;
     object-fit: contain;
 }

 .notify-item__content {
    margin-left: 12px;
 }

 .notify-item-name {
     font-size: 1.4rem;
     line-height: 18px;
     font-weight: 400;
     color: var(--black-color);
     display:-webkit-box;
     -webkit-line-clamp:1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     word-break: break-word;
 }

 .notify-item-description {
     font-size: 1.2rem;
     line-height: 8px;
     color: #fff;
     letter-spacing: 0.5px;
 }

 .header__notify-footer {
     display: flex;
 }

 .header__footer-btn {
    width: 100%;
    font-size: 1.4rem;
    line-height: 14px;
    margin: 0;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
 }

 /* Begin header menu */
 .header-menu-wrap {
     background-color: #fff;
     height: var(--menu-height);
 }

 .header-menu {
     display: flex;
     justify-content: center;
     height: var(--menu-height);
     background: var(--main-color);
 }

 .sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0 1s;
}

 .menu-list {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
 }

 .menu-item {
     display: inline-block;
     list-style: none;
     height: 100%;
     font-size: 1.4rem;
     font-weight: 500;
     letter-spacing: 1px;
     padding: 0 12px;
     text-transform: uppercase;
    }
    
.menu-item a {
    --line-height: var(--menu-height);
    display: inline-block;
    text-decoration: none;
    line-height: var(--line-height);
    color: var(--text-color);
    transition: all 0.1s ease-in 0s;
 }

 .menu-item:hover a {
     font-size: 1.6rem;
 }

 .menu-item:hover .menu-item-name::before{
     transform: scale(1);
     visibility: visible;
 }

 .menu-item a .menu-item-name {
     position: relative;
 }

 .menu-item a .menu-item-name::before {
     content: "";
     position: absolute;
     width: 100%;
     height: 1px;
     bottom: 0;
     left: 0;
     margin-bottom: -8px;
     border-bottom: 1px solid var(--text-color);
     transform: scale(0);
     visibility: hidden;
     transition: all 0.2s ease-in-out 0s;
 }

 .menu-item:hover .subnav{
    visibility: visible;
}

.menu-item:hover .subdiv{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.subnav{
   position: absolute;
   background-color: #f0f0f0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   visibility: hidden;
   padding-bottom: 16px;
}


.subnav .subnav-content{
   text-align: left;
   min-width: 20%;
}

.subnav-content .subnav-header{
   padding-left: 40px;
}

.subnav-content .subnav-list{
   list-style: none;
   font-size: 16px;
   width: 100%;
}

.subnav-content .subnav-list a , h5{
   font-size: 14px;
}

.subnav-list a:hover{
   opacity: 0.6;
}

/* Begin: container */
.container{

}

.container__slider {
    width: 100%;
    display: flex;
}

.container__slider-img {
    width: 100%;
}

/* Product best sellers */
.product-best-sellers {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw 4vw;
}

.product-best-sellers__title {
    color: var(--text-color);
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.product-best-sellers__title::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: -16px;
    right: -16px;
    top: 50%;
    background-color: #d9d9d9;
    z-index: 0;
    
}

.product-best-sellers__title h3 {
    position: relative;
    display: inline-block;
    margin: 16px 0;
    padding: 0 16px;
    background-color: #fff;
}

.product-best-sellers__item {
    padding: 6px;
}

.product-best-sellers__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.product-best-sellers__link:hover .item__img {
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */
    transform: scale(1.15);
}

.item__img-wrap {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.item__img {
    width: 100%;
    object-fit: cover;
    transition: all 1s ease 0s;
}

.item__name-wrap {
    cursor: default;
    flex: 1;
}

.item__name {
    margin: 4px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.item__price {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
}

.item__btn {
    min-width: 172px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 6px 20px;
    cursor: pointer;
}

.product-best-sellers__border-bottom {
    position: relative;
    width: 100%;
    height: 4vh;
}

.product-best-sellers__border-bottom hr{
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin: 34px 0 0;
}

/* Category banner */
.category-banner-block {
    padding: 2vw 4vw;
}

.category-banner-block a:hover .category-banner-item .label-box::before {
    height: 100%;
    opacity: 0.6;
}

.category-banner-block a:hover .category-banner-item .label-wrap p::after {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
}

.category-banner-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 72%;
    border-radius: 3px;
}

.category-banner-item__male {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Ao_sweater/6.jpg);
}

.category-banner-item__female {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Nu_ChanVay_QuanShort/1\ -\ Chân\ váy\ ngắn\ phối\ đường\ thêu\ -\ 6.825.000.jpg);
}

.category-banner-item__bag {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/TuiSach/1\ -\ Ví\ da\ kèm\ dây\ đeo\ kim\ loại\ -\ 3.325.000.jpg)
}

.category-banner-item__shoe {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/GiayDep/1\ -\ Sandel\ da\ mũi\ họa\ tiết\ -\ 9.625.000.jpg)
}

.category-banner-item__other {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/PhuKien/ThatLung/1\ -\ Dây\ lưng\ khoen\ tròn\ -\ 4.725.000.jpg)
}

.category-banner-item .label-box {
    position: absolute;
    display: flex;
    align-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.category-banner-item .label-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    background: linear-gradient( to top, #000,rgba(0, 0, 0, 0) );;
    opacity: 0.3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.2s;
}

.category-banner-item .label-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    text-transform: uppercase;
}

.category-banner-item .label-wrap h4 {
    display: block;
    font-size: 2.6rem;
    color: var(--white-color);
    letter-spacing: 2px;
    margin: 18px 0;
}

.category-banner-item .label-wrap p {
    position: relative;
    display: inline;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 0;
}

.category-banner-item .label-wrap p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    height: 1px;
    width: 0;
    background: var(--white-color);
    transition: width .5s;
}

/* Begin: Reinsurance */
.Contact-block {
    margin-top: 70px;
    margin-bottom: 32px;
    padding: 0 4vw;
}

.reinsurance-container {
    width: 100%;
    height: 100%;
    margin: 16px 0;
}

.reinsurance-item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid #e6e6e6;
}

.reinsurance-item {
    width: 100%;
}

.reinsurance-item-link {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    color: var(--text-color);
    font-size: 0.85rem;
    text-align: left;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.icon-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.icon-wrap img {
    max-width: 18px;
}

/* Begin: footer */
.four-row{
    width: 25%;
    height: 100%;
    padding: 0 72px;
}

.footer{
    padding: 2.375rem 3.5rem 1.875rem;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    font-size: 12px;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h3{
    font-size: 1.6rem;
    margin-bottom: 24px;
    text-transform: uppercase;
    user-select: none;
}

.footer li{
    list-style-type: none;
    margin: 0 0 0.75rem;
}

.footer a{
    color: var(--text-color);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer__Cty p{
    margin-bottom: 0.5rem ;
 
}